* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.bg{
	   width:800px;
	margin:0 auto;
	background-color:white;
	padding:20px 30px;
	margin-top:170px;
}
body{
	font-family: 'Poppins', sans-serif;
	
}
.container1 p{
	color:#165b88;
	font-weight:bold;
	font-size:30px;
}
.container2 ul li{
	display:inline-block;
	padding:0px 22px 5px 0px;
	margin-top:20px;
	color:#165b88;
	
}
.container2{
	border-bottom:2px solid grey;
	width:90%;
	margin-bottom:20px;
	
}
.container2 li:nth-child(1){
	border-bottom:4px solid blue;
	
	color:blue;
}
.p1{
	color:darkblue;
	margin-top:20px;
	list-style:none;
}
.p2{
	color:darkblue;
	margin-top:20px;
	list-style:none;
}
.p1::before{
	content:"\2714\0020" ;
   color:blue;
   margin:10px;
   
	
}
.p2::before{
	content:"\2714\0020" ;
   color:blue;
   margin:10px;
	
}
